<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/templates/thymeleaf/fragments.html :: imports"></div>
    <link rel='stylesheet' href='/CSS/Estilos.css' type='text/css'>
    <title>Error de permiso</title>
</head>

<body class="p-3 mb-2 bg-dark text-white">
    <br />
    <br />
    <h1 class="text-center">Usted no tiene los permisos requeridos para entrar a esta sección. <br />Favor inicie sesión como administrador</h1>
    <br />
    <br />
    <div class="col-4 offset-4 separation-top">
        <a class="btn btn-primary " href="/public/logout">Cerrar sesión</button>
        <a class="text-center" href="/">Regresar</a>
    </div>
    
</body>

</html>