<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registro de persona</title>
    <div th:replace="/templates/thymeleaf/fragments.html :: imports"></div>
    <link rel='stylesheet' href='/CSS/Estilos.css' type='text/css'>
</head>

<body class="p-3 mb-2 bg-dark text-white">
    <script type="text/javascript">
        var options = {
            enableHighAccuracy: true,
            timeout: 27000,
            maximumAge: 30000
        };

        function success(pos) {
            var crd = pos.coords;
            document.getElementById("long").value = crd.longitude;
            document.getElementById("lat").value = crd.latitude;
        };

        function error(err) {
            console.warn('ERROR(' + err.code + '): ' + err.message);
        };

        navigator.geolocation.getCurrentPosition(success, error, options);
    </script>

    <div th:replace="/templates/thymeleaf/fragments.html :: navbar"></div>
    <div class="container-fluid">
        <div class="row separation-top">
            <div class="col align-self-center">
                <h2>Registro</h2>
            </div>
        </div>
        <div class="form-row separation-top separation-bottom">
            <div class="col align-self-center">
                <form method="post" action="/app/personas/redit" class="form" id="reg">
                    <!-- ID -->
                    <div hidden>
                        <input name="id" th:value="${id}" id="id" type="text" />
                    </div>
                    <!-- Nombre -->
                    <div class="col-4 offset-4">
                        <label for="nombre" class=big>Nombre</label>
                    </div>
                    <div class="col-4 offset-4">
                        <input name="nombre" id="nombre" type="text" class="form-control form-control-lg col-4" required/>
                    </div>
                    <!-- Sector -->
                    <div class="col-4 offset-4">
                        <label for="sector" class=big>Sector</label>
                    </div>
                    <div class="col-4 offset-4">
                        <input name="sector" id="sector" type="text" class="form-control form-control-lg col-4" required/>
                    </div>
                    <!-- Nivel Escolar -->
                    <div class="col-4 offset-4">
                        <label for="nivel" class=big>Nivel Escolar</label>
                    </div>
                    <div class="col-4 offset-4">
                        <select class="form-control col-4" id="nivel" name="name" required>
                            <option class=big selected>Elija su Nivel Escolar...</option>
                            <option class=big value="1">Básico</option>
                            <option class=big value="2">Medio</option>
                            <option class=big value="3">Grado Universitario</option>
                            <option class=big value="4">Posgrado</option>
                            <option class=big value="5">Doctorado</option>
                        </select>
                    </div>
                    <div>
                        <div class="col-4 offset-4">
                            <label for="lat" class=big>latitud</label>
                        </div>
                        <div class="col-4 offset-4">
                            <input name="lat" id="lat" type="text" class="form-control form-control-lg col-4" readonly required/>
                        </div>
                        <div class="col-4 offset-4">
                            <label for="long" class=big>longitud</label>
                        </div>
                        <div class="col-4 offset-4">
                            <input name="long" id="long" type="text" class="form-control form-control-lg col-4" readonly required/>
                        </div>
                    </div>
                    <div class="col-4 offset-4 separation-top">
                        <button class="btn btn-primary " type=submit form=reg>Aceptar</button>
                        <a class="btn btn-secondary " href="/">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>