<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:if="${accion == 'Crear'}">Nuevo Usuario</title>
    <title th:if="${accion == 'Editar'}">Editar Usuario</title>
    <div th:replace="/templates/thymeleaf/fragments.html :: imports"></div>
    <link rel='stylesheet' href='/CSS/Estilos.css' type='text/css'>
</head>

<body class="p-3 mb-2 bg-dark text-white">
    <div th:replace="/templates/thymeleaf/fragments.html :: navbar"></div>
    <div class="container-fluid">
        <div class="row separation-top">
            <div class="col align-self-center ">
                <h2 th:if="${editar == null}">Nuevo Usuario</h2>
                <h2 th:if="${editar != null}">Editar Usuario</h2>
            </div>
        </div>
        <div class="form-row separation-top separation-bottom">
            <div class="col align-self-center ">
                <form method=post action="/app/usuarios/redit" id="redit" class="form">
                    <div class="col-12 offset-4">
                        <label for="test" class=big>Nombre</label>
                    </div>
                    <div class="col-12 offset-4">
                        <input name="nombre" id="nombre" type="text" th:placeholder="${nombre}" class="form-control form-control-lg col-4" required/>
                    </div>
                    <div class="col-12 offset-4">
                        <label for="test" class=big>Contraseña</label>
                    </div>
                    <div class="col-12 offset-4">
                        <input name="contra" id="contra" type="password" th:placeholder="${contra}" class="form-control form-control-lg col-4" required/>
                    </div>
                    <div class="col-12 offset-4">
                        <label for="test" class=big>Rol</label>
                    </div>
                    <div class="col-12 offset-4">
                        <input name="rol" id="rol" type="text" th:placeholder="${rol}" class="form-control form-control-lg col-4" required/>
                    </div>
                    <div class="col-12 offset-4 separation-top">
                        <button class="btn btn-primary " type=submit form=redit>Aceptar</button>
                        <a class="btn btn-secondary " href="noHayNadaAun">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>

</html>