<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:if="${editar == null}">Nuevo Usuario</title>
    <title th:if="${editar != null}">Editar Usuario</title>
    <div th:replace="/templates/thymeleaf/fragments.html :: imports"></div>
    <link rel='stylesheet' href='/CSS/Estilos.css' type='text/css'>
</head>

<body class="p-3 mb-2 bg-dark text-white">
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/JS/workers.js', {
                    scope: '/'
                }).then(function(registration) {
                    // Notificando el registro del service workwe
                    console.log('Registrando el servicio en el ambiente: ', registration.scope);
                }, function(err) {
                    console.log('Service Worker falló el registro: ', err);
                });
            });
        }
    </script>
    <script>
        function storage() {
            var formElements = document.getElementById("redit").elements;
            var postData = {};
            for (var i = 0; i < formElements.length; i++)
                if (formElements[i].type != "submit") //we dont want to include the submit-buttom
                    postData[formElements[i].name] = formElements[i].value;

            var JSON = postData.stringify();
            alert(JSON)

            myStorage = window.localStorage;
            myStorage.setItem(myStorage.length.toString(), JSON);

            for (let index = 0; index < myStorage.length; index++) {
                alert(myStorage.getItem(index));
                //const element = array[index];
            }
            //window.location.replace("/app/usuarios/redit");
        }
    </script>
    <div th:replace="/templates/thymeleaf/fragments.html :: navbar"></div>
    <div class="container-fluid">
        <div class="row separation-top">
            <div class="col align-self-center ">
                <h2 th:if="${editar == null}">Nuevo Usuario</h2>
                <h2 th:if="${editar != null}">Editar Usuario</h2>
            </div>
        </div>
        <div class="form-row separation-top separation-bottom">
            <div class="col align-self-center ">
                <form method=post action="/app/usuarios/redit" id="redit" class="form">
                    <div hidden>
                        <input name="id" th:value="${id}" id="id" type="text" />
                    </div>
                    <div class="col-4 offset-4">
                        <label for="nombre" class=big>Nombre</label>
                    </div>
                    <div class="col-4 offset-4">
                        <input name="nombre" id="nombre" type="text" th:placeholder="${nombre}" class="form-control form-control-lg col-4" required/>
                    </div>
                    <div class="col-4 offset-4">
                        <label for="contra" class=big>Contraseña</label>
                    </div>
                    <div class="col-4 offset-4">
                        <input name="contra" id="contra" type="password" th:placeholder="${contra}" class="form-control form-control-lg col-4" required/>
                    </div>
                    <div class="col-4 offset-4">
                        <label for="rol" class=big>Rol</label>
                    </div>
                    <div class="col-4 offset-4">
                        <select class="form-control col-4" id="rol" name="rol" required>
                            <option class=big selected>Escoja el rol...</option>
                            <option class=big value="1">Encuestador</option>
                            <option class=big value="2">Administrador</option>
                        </select>
                    </div>
                    <div class="col-4 offset-4 separation-top">
                        <button class="btn btn-primary " id=online type=submit form=redit>Aceptar</button>
                        <button class="btn btn-warning" id=offline onclick="storage()">Aceptar (Offline)</button>
                        <a class="btn btn-secondary" href="/app/personas/regist">Cancelar</a>
                    </div>
                </form>
            </div>
            <script>
                console.log(navigator.onLine)
                var buttonOnline = document.getElementById("online");
                var buttonOffline = document.getElementById("offline");
                if (navigator.onLine) {
                    buttonOffline.style.visibility = 'hidden';
                    buttonOnline.style.visibility = 'visible';
                } else {
                    buttonOnline.style.visibility = 'hidden';
                    buttonOffline.style.visibility = 'visible';
                }
            </script>
        </div>
    </div>
</body>

</html>